# ----------------------------------
# Code linter and code quality tools
# ----------------------------------
pyenchant >= 2.0
pylint >= 2.3

# -------------------------
# Code Coverage and Testing
# -------------------------
coverage >= 4.5
pytest >= 5.0
pytest-dependency >= 0.4
pytest-html >= 1.21

# -------------
# Documentation
# -------------
sphinx >= 2.1
sphinx_rtd_theme >= 0.4
sphinxcontrib-apidoc >= 0.3

# -----------------------------
# Project specific dependencies
# -----------------------------
click
# flask
# gunicorn
# matplotlib
# pandas
# pyinstaller
