# ----------------------------------
# Code linter and code quality tools
# ----------------------------------
pyenchant
pylint

# -------------------------
# Code Coverage and Testing
# -------------------------
coverage
pytest
pytest-dependency
pytest-html

# -------------
# Documentation
# -------------
sphinx
sphinx_rtd_theme

# -----------------------------
# Project specific dependencies
# -----------------------------
click
# flask
# gunicorn
# matplotlib
# pandas
# pyinstaller
